.proddesc {
	color: rgb(var(--rgb-san-juan));
}

.proddesc__title {
	font-size: 2rem;
	margin: 0;
	padding-bottom: var(--offset-half);
	border-bottom: 1px solid rgb(var(--rgb-san-juan));
}

.proddesc__data {
	line-height: 1.5;
}

.proddesc__data p {
	margin: 0 0 var(--offset-half) 0;
}

.proddesc__data p:last-of-type {
	margin: 0;
}

@media screen and (width <= 1200px){
	.proddesc__title {
		font-size: 1.8rem;
	}
}

@media screen and (width <= 900px) {
	.proddesc__title {
		font-size: 1.6rem;
	}
}

@media screen and (width <= 600px) {
	.proddesc__title {
		font-size: 1.4rem;
	}
}