.prodrelated {

}

.prodrelated__title {
	color: var(--c-san-juan);
	font-size: 2rem;
	margin: 0 0 var(--offset) 0;
	padding-bottom: var(--offset-half);
	border-bottom: 1px solid rgb(var(--rgb-san-juan));
}

.prodrelated__cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--offset);
}

/* .prodrelated__cards > .productcard:nth-of-type(4){
	display: none;
} */