.singleprod {
	width: 100%;
	display: grid;
	gap: calc(var(--offset) * 1.5) var(--offset);
	grid-template-columns: calc(var(--site-width) / 4) 1fr;
	grid-template-rows: max-content max-content 1fr max-content;
	grid-template-areas: 
		"sNotice sNotice"
		"sImage sCard"
		". sDesc"
		"sRelated sRelated";

	/* align-items: baseline; */
}

.singleprod__notice {
	grid-area: sNotice;
}

.singleprod__notice > .woocommerce-message {
	background-color: rgb(var(--rgb-san-juan));
	padding: var(--offset-half);
	border-radius: calc(var(--offset-half) / 2);
	color: var(--c-white);
	font-weight: bold;
	box-shadow: var(--card-shadow);
}

.singleprod__notice > .woocommerce-message a{
	margin-right: var(--offset-half);
	color: var(--c-white);
	font-weight: bold;
	text-decoration: none;
	transition: var(--main-transition);
}

.singleprod__notice > .woocommerce-message a:hover {
	color: rgb(var(--rgb-pattens-blue));
}

.singleprod__image {
	background-color: rgba(var(--rgb-alice-blue), var(--alpha-75));
	border-radius: var(--card-border-radius);
	box-shadow: var(--card-shadow);
	box-sizing: border-box;
	max-height: calc(var(--site-width) / 4);
	padding: var(--offset);
	grid-area: sImage;
}

.singleprod__image img {
	display: block;
	max-width: 100%;
	height: auto;
}

.singleprod__card{
	background-color: rgba(var(--rgb-alice-blue), var(--alpha-75));
	border-radius: var(--card-border-radius);
	box-shadow: var(--card-shadow);
	padding: var(--offset);
	min-height: calc(var(--site-width) / 4);
	box-sizing: border-box;
	grid-area: sCard;
}

.singleprod__desc {
	grid-area: sDesc;
}

.singleprod__desc > h2, p {
	margin: 0 0 var(--offset-half 0);
}

.singleprod__related {
	grid-area: sRelated;
}

@media screen and (width <= 1100px){
	.singleprod {
		gap: var(--offset);
		grid-template-columns: calc(var(--site-width)/5) 1fr;
		grid-template-areas: 
			"sNotice sNotice"
			"sImage sCard"
			"sDesc sDesc"
			"sRelated sRelated";
	}

	.singleprod__image {
		align-self: baseline;
		max-height: max-content;
	}
}

@media screen and (width <= 1000px) {
	.singleprod {
		gap: var(--offset) var(--offset-half);
		grid-template-columns: calc(var(--site-width)/7) 1fr;
	}

	.singleprod__image {
		padding: var(--offset-half);
	}
}

@media screen and (width <= 900px) {
	.singleprod {
		gap: var(--offset) var(--offset-half);
		grid-template-columns: calc(var(--site-width)/7) 1fr;
	}

	.singleprod__card{
		padding: var(--offset-half);
	}
}

@media screen and (width <= 800px) {
	.singleprod {
		grid-template-columns: 1fr;
		grid-template-areas: 
			"sNotice"
			"sImage"
			"sCard"
			"sDesc"
			"sRelated";
	}

	.singleprod__image img {
		max-width: 30vw;
		margin: 0 auto;
	}
}

@media screen and (width <= 500px) {
	.singleprod__image img {
		max-width: 50vw;
		margin: 0 auto;
	}
}