:root {
	--main-transition: all 75ms linear;
}

@keyframes headerCartBtnHoverAnimation {
	0% {
		background-color: rgba(var(--rgb-pattens-blue), var(--alpha-50));
		box-shadow: var(--btn-shadow) ;
	}
	100% {
		background-color: rgba(var(--rgb-pattens-blue), var(--alpha-75));
		box-shadow: var(--btn-shadow--hover) ;
	}
}