:root {
	--header-shadow: 1px 2px 3px 2px rgba(102, 130, 156, 0.05);

	--btn-shadow: 	0px 1px 3px -2px rgba(var(--rgb-black), var(--alpha-25)),
				0px 1px 2px 0px rgba(var(--rgb-black), var(--alpha-25));

	--btn-shadow--hover: 	0px 1px 3px -2px rgba(var(--rgb-black), var(--alpha-35)),
						0px 1px 3px 0px rgba(var(--rgb-black), var(--alpha-35));

	--main-transition: all 75ms linear;
}

@keyframes btnHoverAnimation {
	0% {
		background-color: rgba(var(--rgb-pattens-blue), var(--alpha-50));
		box-shadow: var(--btn-shadow) ;
	}
	100% {
		background-color: rgba(var(--rgb-pattens-blue), var(--alpha-75));
		box-shadow: var(--btn-shadow--hover) ;
	}
}