.allprod {
	display: grid;
	grid-template-columns: 1fr 100px 100px;
	gap: var(--offset);

	align-items: center;

	background-color: rgba(var(--rgb-slate-grey), var(--alpha-10));
	padding: 5px;
}

.allprod:not(:last-child) {
	margin-bottom: var(--offset-half);
}

.allprod__title {
	margin: 0;
}

.allprod a {
	color: var(--c-san-juan);
	text-decoration: none;
	transition: var(--main-transition);
}

.allprod a:hover {
	color: var(--c-black);
}


@media screen and (width <=	768px) {
	.allprod {
		gap: var(--offset-half);
	}
}

@media screen and (width  <= 600px) {
	.allprod {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, min-content);
		padding: var(--offset-half);
	}

	.allprod__title {
		grid-column: 1 / span 2;
	}

	.allprod__link {
		justify-self: end;
	}
}