.asidecart__header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	border-bottom: 1px solid rgb(var(--rgb-slate-grey));
	padding-bottom: calc(var(--offset-half) * 0.7);
}

.asidecart__close {
	display: block;
	appearance: none;
	background-color: rgb(var(--rgb-alice-blue));
	color: rgb(var(--rgb-san-juan));
	flex-basis: 48px;

	border: 2px solid rgb(var(--rgb-san-juan));
	border-radius: 50%;
	padding: 6px;

	cursor: pointer;
	transition: var(--main-transition);
}

.asidecart__close:hover{
	background-color: rgb(var(--rgb-mandys-pink));
	border-color: rgb(var(--rgb-mandys-pink));
	color: rgb(var(--rgb-alice-blue));
}

.asidecart__title {
	margin: 0;
	font-size: 1.7rem;
	text-transform: uppercase;
	color: rgb(var(--rgb-san-juan));
}

.asidecart__cartlist {
	max-height: calc(var(--site-width) / 2);
	overflow-y: auto;
	overflow-x: hidden;
}

.asidecart__footer {
	border-top: 1px solid rgb(var(--rgb-slate-grey));
	padding-top: calc(var(--offset-half) * 0.7);
}