.asidecart__header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	border-bottom: 1px solid rgb(var(--rgb-slate-grey));
	padding-bottom: calc(var(--offset-half) * 0.7);
}

.asidecart__close {
	display: block;
	appearance: none;
	background-color: rgb(var(--rgb-alice-blue));
	color: rgb(var(--rgb-san-juan));
	flex-basis: 48px;

	border: 2px solid rgb(var(--rgb-san-juan));
	border-radius: 50%;
	padding: 6px;

	cursor: pointer;
	transition: var(--main-transition);
}

.asidecart__close:hover{
	background-color: rgb(var(--rgb-mandys-pink));
	border-color: rgb(var(--rgb-mandys-pink));
	color: rgb(var(--rgb-alice-blue));
}

.asidecart__title {
	margin: 0;
	font-size: 1.7rem;
	text-transform: uppercase;
	color: rgb(var(--rgb-san-juan));
}

.widget.woocommerce.widget_shopping_cart {
	max-height: calc(var(--site-width) / 2);
	/* overflow: hidden; */
	/* overflow-y: auto;
	overflow-x: hidden; */
}

.asidecart__cartlist {
	max-height: calc(var(--site-width) / 3);
	overflow-y: auto;
	overflow-x: hidden;
}

.woocommerce-mini-cart__empty-message {
	font-weight: bold;
	font-size: 1.2rem;
}

.asidecart__footer {
	border-top: 1px solid rgb(var(--rgb-slate-grey));
	padding-top: calc(var(--offset-half) * 0.7);

	display: grid;
	grid-template-rows: repeat(2, auto);
	gap: var(--offset-half);
	margin-top: var(--offset-half);
}

.asidecart__summary {
	font-size: 1.2rem;
	text-align: center;
	font-weight: 500;
	padding: 10px 0;
}

.asidecart__summary span {
	font-weight: bold;
}

.asidecart__buttons {
	display: grid;
	gap: var(--offset-half);
}

.wc-forward::after,
.woocommerce-Button--next::after {
	display: none !important;
}

.asidecart__buttons button {
	appearance: none;
	cursor: pointer;
	border-radius: calc(var(--offset-half) / 2);

	font-size: 1.1rem;
	display: block;
	font-weight: bold;
	padding: var(--offset-half);
	transition: var(--main-transition);
}

.asidecart__showcart {
	color: rgb(var(--rgb-white));
	border: 1px solid rgb(var(--rgb-mandys-pink));
	background-color: rgb(var(--rgb-mandys-pink));
}

.asidecart__showcart:hover {
	background-color: var(--c-mandys-pink-highlighted);
}

.asidecart__showcart a {
	color: rgb(var(--rgb-white));
	text-decoration: none;
}

.asidecart__checkout {
	color: rgb(var(--rgb-alice-blue));
	border: 1px solid rgb(var(--rgb-san-juan));
	background-color: rgb(var(--rgb-san-juan));
}

.asidecart__checkout:hover {
	background-color: var(--c-san-juan-highlighted);
}

.asidecart__checkout a {
	color: rgb(var(--rgb-alice-blue));
	text-decoration: none;
}