.cartitem {
	/* margin: 1px 1px var(--offset-half) 1px; */
	margin-bottom: var(--offset-half);
	padding: calc(var(--offset-half));
	box-sizing: border-box;

	background-color: rgb(var(--rgb-white));
	/* box-shadow: var(--card-shadow); */
	border: 1px solid rgb(var(--rgb-san-juan));
	border-radius: var(--card-border-radius);

	display: grid;
	grid-template-columns: 80px 1fr calc(var(--offset) / 1.3);
	grid-template-rows: max-content 1fr;
	grid-template-areas: 
		"cIcon cTitle cRemove"
		"cIcon cQuantity .";

	align-items: start;
	gap: 0 var(--offset);
}

.cartitem:last-of-type {
	margin-bottom: 0;
}

.cartitem__icon {
	grid-area: cIcon;
	display: block;
	width: 100%;

	justify-self: center;
	align-self: center;

}

.cartitem__title {
	grid-area: cTitle;
	margin: 0;
}

.cartitem__title a {
	color: rgb(var(--rgb-black));
	font-weight: bold;
	font-size: 1.2rem;
	text-decoration: none;
}

.cartitem__quantity {
	grid-area: cQuantity;
	margin: 0;
}

.cartitem__remove {
	grid-area: cRemove;
	padding: 0;
	display: block;
	min-height: calc(var(--offset) / 1.3);

	font-size: calc(var(--offset) / 1.3);
	line-height: 0.5;

	appearance: none;
	border: none;
	cursor: pointer;

	border-radius: 50%;
	background-color: rgb(var(--rgb-white));

	transition: var(--main-transition);
}

.cartitem__remove:hover {
	/* background-color: rgb(var(--rgb-mandys-pink)); */
	color: var(--c-mandys-pink-highlighted);
}

.cartitem__remove a {
	display: block;
	color: rgb(var(--rgb-black));
	transition: var(--main-transition);
}

.cartitem__remove:hover a {
	color: var(--c-mandys-pink-highlighted);
}

.cartitem > .blockUI.blockOverlay {
	background-color: rgb(var(--rgb-pattens-blue)) !important;
	opacity: 0.8 !important;
	border-radius:calc(var(--card-border-radius));
}