/* .copyright{} */

.copyright__info {
	margin-right: var(--offset);
	font-weight: bold;
}

.copyright__links {
	display: flex;
	flex-grow: 1;

	justify-content: flex-end;
	align-items: center;

	list-style: none;
	margin: 0;
	padding: 0;
}

.copyright__links li {
	margin-left: var(--offset);
}

.copyright__links li a {
	color: rgb(var(--rgb-bermuda-grey));
	text-decoration: none;
}

.copyright__links li a:hover {
	text-decoration: underline;
}