.footer {
	background-color: rgb(var(--rgb-alice-blue));
}

.footer__container {
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-auto-rows: auto;
	grid-template-areas:
			"fLogo fWidgets"
			". fContacts"
			". fCopyright";

	gap: var(--offset);

	box-sizing: border-box;
	padding: calc(var(--offset) * 1.5) var(--offset);
}

.footer__logo {
	grid-area: fLogo;
}

.footer__logo a img {
	display: block;
}

.footer__widgets{
	grid-area: fWidgets;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: calc(var(--offset-half) * 1.5);
	justify-content: space-between;
}

.footer__widgets_wrapper {

}

.footer__widgets .wp-block-group > div > div {
	margin-bottom: var(--offset);
}

.footer__widgets .wp-block-group > div > div:last-of-type {
	margin-bottom: 0;
}

.footer__contacts{
	grid-area: fContacts;

	border-top: 1px solid rgb(var(--rgb-bermuda-grey));
	border-bottom: 1px solid rgb(var(--rgb-bermuda-grey));

	display: flex;
}

.footerContacts__item {
	display: flex;
	padding: calc(var(--offset-half) * 1.5) 0;
	margin-right: calc(var(--offset) * 2);

	font-weight: bold;
	text-decoration: none;

	color: rgb(var(--rgb-bermuda-grey));
	align-items: center;
}

.footerContacts__icon {
	display: block;
	/* line-height: 0.5; */
	max-width: 25px;
	font-size: 1.1rem;
	padding-right: 10px;
}

.footer__copyright {
	grid-area: fCopyright;
	font-size: 0.8rem;

	color: rgb(var(--rgb-bermuda-grey));

	display: flex;
	justify-content: space-between;
}