.fwidget {
	margin-bottom: var(--offset);
}

.fwidget:last-of-type {
	margin-bottom: 0;
}

.fwidget h2,
.fwidget__header {
	font-size: 1rem;
	margin: 0 0 var(--offset-half) 0;
	color: rgb(var(--rgb-slate-grey));
}

.fwidget ul,
.fwidget__links {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: .85rem;
}

.fwidget ul li,
.fwidget__links li {
	padding: 0 !important;
	margin-bottom: calc(var(--offset-half) / 2) !important;
}

.fwidget ul li a,
.fwidget__links li a {
	text-decoration: none;
	color: rgb(var(--rgb-slate-grey));
}

.fwidget ul li::before,
.fwidget__links li::before,
.fwidget ul li a::before,
.fwidget__links li a::before {
	display: none !important;
}

.fwidget ul li a:hover,
.fwidget__links li a:hover {
	text-decoration: underline;
}

.fwidget__socials {
	display: flex;
	justify-content: space-evenly;

	list-style: none;
	margin: 0;
	padding: 0;
}

.fwidget__socicon {
	box-sizing: border-box;
	border: 1px solid rgb(var(--rgb-slate-grey));
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	width: var(--offset);
	height: var(--offset);

	transition: var(--main-transition);
}

.fwidget__socicon a {
	display: block;
	box-sizing: border-box;
	padding: 8px;

	line-height: 0.5;
	color: rgb(var(--rgb-slate-grey));

	transition: var(--main-transition);
}

.fwidget__socicon a .fab {
	font-size: 18px;
}

.fwidget__socicon:hover {
	background-color: rgb(var(--rgb-slate-grey));
}

.fwidget__socicon:hover a {
	color: rgb(var(--rgb-white));
}

.fwidget__button {
	appearance: none;
	bottom: none;
}

.fwidget .search-form{
	display: flex;
}

.fwidget .search-form .search-field {
	max-width: 180px;
	box-sizing: border-box;

	padding: 5px 10px !important;
	margin-right: 5px;

	border: 2px solid rgb(var(--rgb-slate-grey));
	border-radius: calc(var(--offset-half)/4);
}

.fwidget .search-form .search-submit {
	padding: 5px 10px;
	cursor: pointer;

	font-weight: bold;

	color: rgb(var(--rgb-white));
	background-color: rgb(var(--rgb-slate-grey));

	border: none;
	border-radius: calc(var(--offset-half)/4);
	box-sizing: border-box;

	transition: var(--main-transition);
}

.fwidget .search-form .search-submit:hover {
	background-color: rgb(var(--rgb-san-juan));
}

@media screen and (width <= 1300px){
	.fwidget__socials{
		justify-content: flex-start;
	}

	.fwidget__socicon {
		margin-right: var(--offset-half);
	}

	.fwidget__socicon:last-of-type{
		margin-right: 0;
	}
}

@media screen and (width <= 600px){
	.fwidget {
		margin-bottom: 0;
	}
}