.header {
	padding: var(--offset-half) var(--offset);

	background-color: rgb(var(--c-white));
	box-shadow: var(--header-shadow);
}

.header__container {
	margin: 0 auto;
	max-width: var(--site-width);

	display: grid;
	grid-template-columns: 200px 1fr auto;
	gap: var(--offset);

	align-items: center;
}

.header__logo {
	display: flex;
	align-content: center;
	/* border: 1px solid #000; */
}

.header__logo a {
	display: block;
	width: 100%;
	height: auto;
}

.header__logo a img {
	display: block;
	max-width: 100%;
}

.header__mobmenu {
	display: none;
}

/* .header__cart {} */