.ignxpagi {
	grid-area: sitePagi;
	justify-self: center;

	max-width: 400px;
	margin: 0 auto;
}

.ignxpagi__list {
	list-style: none;
	margin: 0;
	padding: calc(var(--offset-half)) var(--offset-half);

	display: grid;
	grid-template-columns: repeat(8, max-content);

	justify-content: center;
	align-items: center;
	row-gap: var(--offset-half);

	background-color: rgb(var(--rgb-alice-blue));
	border-radius: calc(var(--offset-half) / 2);
	box-shadow: var(--card-shadow);
}

.ignxpagi__item:not(:last-child) {
	margin-right: var(--offset-half);
}

.ignxpagi__item:nth-child(8n) {
	margin-right: 0;
}

.ignxpagi__item .page-numbers {
	box-sizing: border-box;
	padding: 5px;
	background-color: rgb(var(--rgb-white));
	border: none;
	border-radius: calc(var(--offset-half) / 3);
	font-weight: bold;
	box-shadow: var(--card-shadow);
	color: rgb(var(--rgb-slate-grey));
	transition: var(--main-transition);

	display: flex;
	justify-content: center;
	align-items: center;

	min-width: var(--offset);
	min-height: var(--offset);

	text-decoration: none;
}

.ignxpagi__item .page-numbers:hover {
	background-color: rgb(var(--rgb-chablis));
}

.ignxpagi__item .current {
	background-color: rgba(var(--rgb-slate-grey), var(--alpha-15));
	color: rgb(var(--rgb-black));
	pointer-events: none;
	cursor: crosshair;
}

.ignxpagi__item .next,
.ignxpagi__item .prev {
	width: var(--offset);
	height: var(--offset);
}