.navlist {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	padding: 0;

	list-style: none;
}

.navlist__item {
	margin-left: var(--offset);
}

.navlist__item a {
	text-decoration: none;
	text-transform: uppercase;

	padding: 10px;
	font-weight: bold;

	color: rgb(var(--rgb-slate-grey));
}

.navlist__item a:hover {
	text-decoration: underline;
}

@media screen and (width <= 1280px) {
	.navlist {
		flex-direction: column;
		align-items: center;
		justify-content: center;

		min-width: calc(var(--site-width) / 4);
		min-height: calc(var(--site-width) / 4);
		padding: var(--offset);

		background-color: var(--c-white);

		border-radius: var(--card-border-radius);
		font-size: 1.1rem;
	}

	.navlist__item {
		margin: 0 0 var(--offset) 0;
		display: block;
	}

	.navlist__item:last-of-type {
		margin: 0;
	}
}