.site-title > .wrapper{
	padding: calc(var(--offset) * 2) var(--offset);

	color: rgb(var(--rgb-san-juan));
}

.pagetitle__title {
	margin: 0 0 var(--offset-half) 0;
}

.pagetitle__snippet {
	font-size: 0.9rem;
	margin: 0;
	line-height: 1.5;
}

@media screen and (width <= 1000px){
	.pagetitle__title {
		font-size: 1.8rem;
	}
}

@media screen and (width <= 800px){
	.pagetitle__title {
		font-size: 1.6rem;
	}

	.site-title > .wrapper{
		padding: var(--offset);
	}
}