.pagilist {
	list-style: none;
	margin: 0;
	padding: calc(var(--offset-half)) var(--offset-half);

	display: grid;
	grid-template-columns: repeat(8, max-content);
	gap: var(--offset-half);
	max-width: max-content;

	background-color: rgb(var(--rgb-alice-blue));
	border-radius: calc(var(--offset-half) / 2);
	box-shadow: var(--card-shadow);
}

.pagilist__item {
	/* margin-right: var(--offset-half); */
}

.pagilist__item:last-of-type {
	/* margin-right: 0; */
}

.pagilist__button {
	box-sizing: border-box;
	padding: 0;
	background-color: rgb(var(--rgb-white));
	border: none;
	border-radius: calc(var(--offset-half) / 3);
	font-weight: bold;
	box-shadow: var(--card-shadow);
	color: rgb(var(--rgb-slate-grey));
	transition: var(--main-transition);
}

.pagilist__button:hover {
	background-color: rgb(var(--rgb-chablis));
}

.pagilist__button a {
	cursor: pointer;
	text-decoration: none;
	box-sizing: border-box;
	color: rgb(var(--rgb-slate-grey));
	display: flex;
	min-width: var(--offset);
	min-height: var(--offset);
	justify-content: center;
	align-items: center;
}

.pagilist__button.current {
	background-color: rgba(var(--rgb-slate-grey), var(--alpha-15));
	color: rgb(var(--rgb-black));
	pointer-events: none;
	cursor: crosshair;
}

.pagilist__button.current a {
	color: rgb(var(--rgb-black));
}

@media screen and (width <= 480px){
	.pagilist {
		grid-template-columns: repeat(6, max-content);
	}
}

@media screen and (width <= 380px){
	.pagilist {
		width: 100%;
		grid-template-columns: repeat(5, max-content);
	}
}