.productcard {
	border-radius: var(--card-border-radius);
	box-shadow: var(--card-shadow);

	/* display: flex;
	flex-direction: column; */
	padding: var(--offset);

	background-color: rgb(var(--rgb-alice-blue));

	display: grid;
	grid-template-columns: 140px 1fr 1fr;
	grid-template-rows: max-content 1fr max-content;
	grid-template-areas: 
		"pIcon pTitle pTitle"
		"pIcon pSnippet pSnippet"
		"pPrice pPrice pBtn";

	gap: var(--offset-half) var(--offset);
}

.productcard__icon {
	display: block;
	max-width: 100%;
	height: auto;

	grid-area: pIcon;
}

.productcard__title {
	grid-area: pTitle;
	font-size: 1.2rem;
	margin: 0;
}

.productcard__snippet {
	margin: 0;
	line-height: 1.5;
	grid-area: pSnippet;
}

.singlecard__snippet p {
	margin-bottom: calc(var(--offset) / 2);
}

.singlecard__snippet p:last-of-type {
    margin-bottom: 0;
}

.productcard__price {
	margin: 0;
	align-self: center;
	justify-self: end;
	font-size: 1.5rem;
	font-weight: bold;
	color: rgb(var(--rgb-san-juan));

	display: flex;
	justify-content: center;

	grid-area: pPrice;
}

.regular_price {
	display: block;
}

.regular_price--onsale {
	text-decoration: line-through;
	text-decoration-color: rgb(var(--rgb-mandys-pink));
	text-decoration-thickness: 2px;
}

.sale_price {
	color: var(--c-mandys-pink-highlighted);
	transform: scale(1.2);
	display: block;
	margin: 0 calc(var(--offset-half) / 2) 0 var(--offset-half);
}

.variable_price {
	display: block;
}

.productcard__button {
	grid-area: pBtn;

	padding: 0;
	font-weight: bold;
	font-size: 1.1rem;
	color: rgb(var(--rgb-white));
	background-color: rgb(var(--rgb-san-juan));

	border: none;
	border-radius: calc(var(--offset-half)/4);
	box-sizing: border-box;
}

.productcard__button a {
	display: block;
	padding: calc(var(--offset-half)/2);
	text-decoration: none;
	color: rgb(var(--rgb-white));
}

.productcard__button:hover {
	background-color: var(--c-san-juan-highlighted);
}