.productcard {
	border-radius: var(--card-border-radius);
	box-shadow: var(--card-shadow);

	display: flex;
	flex-direction: column;
	padding: var(--offset);

	background-color: rgb(var(--rgb-alice-blue));
}

.productcard__icon {
	margin: 0 auto var(--offset) auto;
	display: block;

	max-width: 130px;
}

.productcard__title {
	font-size: 1.2rem;
	text-align: center;
	margin: 0 0 var(--offset) 0;
}

.productcard__snippet {
	margin: 0 0 var(--offset) 0;
	line-height: 1.5;
}

.productcard__button {
	margin-top: auto;
	padding: 12px;

	font-weight: bold;
	font-size: 1.2rem;
	color: rgb(var(--rgb-white));
	background-color: rgb(var(--rgb-san-juan));
}

.productcard__button:hover {
	background-color: var(--c-san-juan-highlighted);
}