.showcart__btn {
	appearance: none;
	border: none;
	cursor: pointer;

	background-color: rgba(var(--rgb-pattens-blue), var(--alpha-50));

	padding: 10px;
	border-radius: 5px;

	min-width: max-content;
	/* max-width: max-content; */


	box-shadow: var(--btn-shadow) ;

	animation-duration: 200ms;
	animation-timing-function: ease-in-out;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both; 
	animation-play-state: running; 
}

.showcart__btn:hover {
	animation-name: headerCartBtnHoverAnimation;
}

.cart-contents {
	display: grid;
	gap: var(--offset-half);
	grid-template-columns: 25px 1fr;

	align-items: center;
	justify-content: space-between;
}

.showcart__icon {
	max-height: fit-content;
	font-size: 1.2rem;
	color: rgb(var(--rgb-bermuda-grey));
}

.showcart__amount,
.woocommerce-Price-amount.amount {
	color: rgb(var(--rgb-bermuda-grey));
	font-weight: 700;
	justify-self: flex-end;
	text-align: right;
	min-width: calc(var(--offset) * 1.5);
}

.showcart__cur_symbol,
.woocommerce-Price-currencySymbol {
	font-weight: bold;
}