.checkoutreviews {}

.checkoutreviews__payment {

}

.checkoutreviews__payment .wc_payment_methods {
	margin: 0;
	/* padding: 0 0 0 var(--offset); */
	padding: 0;
	list-style: none;
}

.checkoutreviews__payment .wc_payment_methods li {
	margin-bottom: var(--offset-half);
}

.checkoutreviews__payment .wc_payment_methods li:last-of-type {
	margin-bottom: 0;
}

.checkoutreviews__payment .wc_payment_methods li label {
	font-weight: bold;
	margin-bottom: calc(var(--offset-half) / 2);
	display: block;
}

.checkoutreviews__payment .wc_payment_methods li div p {
	margin: 0;
	font-size: 0.9rem;
}

.checkoutreviews__payment .form-row.place-order {
	margin-top: var(--offset);
}

.checkoutreviews__payment .form-row.place-order .woocommerce-terms-and-conditions-wrapper {
	margin-bottom: var(--offset);
}

.wc_payment_methods .wc_payment_method.payment_method_yookassa_epl {
}

.wc_payment_methods .wc_payment_method.payment_method_yookassa_epl label{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;

	line-height: 1;
	margin-bottom: 0;
}

.wc_payment_methods .wc_payment_method.payment_method_yookassa_epl label::before {
	content: "" !important;
	display: none !important;
}

.wc_payment_methods .wc_payment_method.payment_method_yookassa_epl label img {
	margin-right: var(--offset-half);
	width: 32px;
	height: 32px;
	transform: scale(1.2);
}

.wc_payment_methods .payment_box.payment_method_yookassa_epl {

}

.checkoutreviews__payment .form-row.place-order p.form-row .woocommerce-input-wrapper {
	display: block;
}

.checkoutreviews__payment .form-row.place-order p.form-row .woocommerce-input-wrapper label {
	word-break: break-word;
}

.checkoutreviews__payment .form-row.place-order p.form-row input.input-checkbox{
	width: var(--offset-half);
	height: var(--offset-half);
}

.checkoutreviews__payment .form-row.place-order p.form-row a {
	color: rgb(var(--rgb-slate-grey));
	text-underline-offset: 2px;
}

.checkoutreviews__payment .form-row.place-order p.form-row a:hover {
	color: rgb(var(--rgb-san-juan));
}

@media screen and (width <= 460px){
	.checkoutreviews__payment .form-row.place-order button {
		width: 100%;
	}
}

