.checkoutform {
}

.checkoutform .woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout {
	grid-column: 1/-1;
}

.checkoutform .woocommerce-error {
	box-shadow: var(--card-shadow);
	border-radius: calc(var(--offset-half) / 2);
	background-color: rgb(var(--rgb-mandys-pink));
	padding: var(--offset-half) var(--offset-half) var(--offset-half) var(--offset);
	margin: 0;
	list-style: decimal;
	font-weight: 500;
	color: var(--c-white);
}


.checkoutform .woocommerce-error li {
	margin-bottom: calc(var(--offset-half) / 2);
}

.checkoutform .woocommerce-error li:last-of-type {
	margin-bottom: 0;
}

.checkoutform__fields {
	background-color: rgb(var(--rgb-alice-blue));
	border-radius: var(--card-border-radius);
	box-shadow: var(--card-shadow);

	padding: var(--offset);
}

.checkoutform__review {
	background-color: rgb(var(--rgb-alice-blue));
	border-radius: var(--card-border-radius);
	box-shadow: var(--card-shadow);
	align-self: baseline;

	padding: var(--offset);
}

.checkoutform__fields h2,
.checkoutform__review h2 {
	border-bottom: 1px solid var(--c-san-juan);
	color: var(--c-san-juan);
	font-weight: 700;
	margin: 0 0 var(--offset) 0;
	padding-bottom: var(--offset);
}

/* .form-row 
.form-row-wide */

.checkoutform__fields .woocommerce-billing-fields__field-wrapper,
.checkoutform__fields .woocommerce-shipping-fields__field-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--offset-half) var(--offset);
}

.checkoutform__fields .woocommerce-shipping-fields h3 {
	margin: var(--offset) 0;
}

.checkoutform__fields .form-row{
	display: flex;
	flex-direction: column;
	margin: 0;
}

.checkoutform__fields .form-row input {
	padding: 10px;
}

.checkoutform__fields .form-row-wide{
	grid-column-start: 1;
	grid-column-end: -1;
}

.checkoutform__fields .form-row label {
	margin-bottom: calc(var(--offset-half) / 2);
}

.checkoutform__fields .form-row span.woocommerce-input-wrapper {
	display: block;
	width: 100%;
}

.checkoutform__fields .form-row span.woocommerce-input-wrapper input {
	display: block;
	box-sizing: border-box;
	width: 100%;
}

.checkoutform__fields .form-row span.woocommerce-input-wrapper .select2-container--default .select2-selection--single {
	border: 2px solid var(--c-slate-grey);
	padding: 10px;
	box-sizing: border-box;

	height: unset;
}

.checkoutform__fields .form-row span.woocommerce-input-wrapper .select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 1.15;
	padding-left: 0;
}

.checkoutform__fields .form-row span.woocommerce-input-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 100%;
	top: 2px;
	right: 7px;
	bottom: 0;
}

.checkoutform__fields .woocommerce-additional-fields {
	margin-top: var(--offset);
}

.checkoutform__fields .woocommerce-additional-fields textarea{
	width: 100%;
	resize: vertical;
	height: 200px;
	box-sizing: border-box;
	padding: 10px;
}

@media screen and (width <=1200px){
	.checkoutform__fields .woocommerce-billing-fields__field-wrapper,
	.checkoutform__fields .woocommerce-shipping-fields__field-wrapper {
		grid-template-columns: 1fr;
		gap: var(--offset-half) var(--offset);
	}
}

@media screen and (width <=1100px){
	.checkoutform__fields {
		grid-column: 1/-1;
	}
}

@media screen and (width <=900px){
	.checkoutform__review{
		grid-column: 1/-1;
	}
}

@media screen and (width <= 600px){
	.checkoutform__review,
	.checkoutform__fields {
		padding: var(--offset-half);
	}

	.checkoutform__review h2,
	.checkoutform__fields h2 {
		margin-bottom: var(--offset-half);
		font-size: 1.4rem;
		padding-bottom: var(--offset-half);
	}
}