.checkoutpage {

}

.checkoutpage .input-text, 
.checkoutpage .button {
	border: 2px solid var(--c-slate-grey);
	border-radius: calc(var(--offset-half) / 4);
}

.checkoutpage .input-text {
	padding: 5px;
}

.checkoutpage .button {
	background-color: var(--c-slate-grey);
	color: var(--c-white);
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
	transition: var(--main-transition);
}

.checkoutpage .button:hover {
	border-color: var(--c-san-juan);
	background-color: var(--c-san-juan);
}

.checkoutpage > .woocommerce {
	display: grid;
	grid-template-rows: 1fr 2fr;
	grid-template-rows: min-content 1fr;
}

.woocommerce-notices-wrapper {

}


.checkoutpage > .woocommerce >  .woocommerce-message {
	box-shadow: var(--card-shadow);
	border-radius: var(--offset-half);
	box-sizing: border-box;
	background-color: rgb(var(--rgb-alice-blue));

	padding: var(--offset);
	margin: 0;

	list-style: decimal;
	font-weight: 600;
	color: var(--c-san-juan-highlighted);


	width: 100%;

	align-self: start;
	grid-column: 2/3;
	grid-row: 1/2;
}


.checkoutpage__coupon {
	grid-column: 1/3;
	grid-row: 1/2;
	background-color: rgb(var(--rgb-alice-blue));
	box-shadow: var(--card-shadow);
	border-radius: var(--offset-half);
}


.checkoutpage__form {
	margin-top: var(--offset);

	grid-column: 1/3;
	grid-row: 2/3;

	display: grid;
	grid-template-columns: 1fr calc(var(--site-width) / 3);
	gap: var(--offset);


}