.checkoutpage {

}

.checkoutpage .input-text, 
.checkoutpage .button {
	border: 2px solid var(--c-slate-grey);
	border-radius: calc(var(--offset-half) / 4);
}

.checkoutpage .input-text {
	padding: 5px;
}

.checkoutpage .button {
	background-color: var(--c-slate-grey);
	color: var(--c-white);
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
	transition: var(--main-transition);
}

.checkoutpage .button:hover {
	border-color: var(--c-san-juan);
	background-color: var(--c-san-juan);
}

.cartpage > .woocommerce {
	/* display: grid;
	grid-template-areas: "cNotices cNotices" "cMain cAside";
	grid-template-rows: max-content 1fr;
	grid-template-columns: 1fr calc(var(--site-width)/3);
	gap: 0 var(--offset);

	min-height: calc(var(--site-width) / 4); */
}

.woocommerce-notices-wrapper {

}

.checkoutpage__coupon {
	background-color: rgb(var(--rgb-alice-blue));
	box-shadow: var(--card-shadow);
	border-radius: var(--offset-half);
}


.checkoutpage__form {
	margin-top: var(--offset);

	display: grid;
	grid-template-columns: 1fr calc(var(--site-width) / 3);
	gap: var(--offset);
}