.homepage__hero {
	/* min-height: calc(100vh - 75px); */
	background: rgb(103,131,156);
	background: linear-gradient(160deg, rgba(103,131,156,1) 0%, rgba(255,186,155,1) 20%, rgba(221,227,233,1) 86%);

	background-size: cover;
	background-repeat: no-repeat;

	display: flex;
	align-items: center;
}

.homepage__hero h1 {
	margin: 0;
	text-transform: uppercase;
	font-size: 5rem;
	font-weight: bold;

	color: rgb(var(--rgb-san-juan));

	text-shadow: 	4px 4px 0px rgb(var(--rgb-mandys-pink)),
				8px 8px 0px rgb(var(--rgb-white));
}

.homepage__heroimg{
	display: block;
	width: 100%;
	max-width: 100vw;
	height: auto;
}

/* @media screen and (width <= 860px){
	.homepage__hero {
		min-height: calc(100vh - 66px);
	}	
}

@media screen and (width <= 580px) {
	.homepage__hero h1 {
		font-size: 2rem;
	}
} */