.homepage {

}

/* ! REMOVE AFTER FINISH HEADER MEDIA QUERIES */
footer {
	display: none;
}

.homepage__title {
	font-size: 2.1rem;
	margin: 0 0 var(--offset-half) 0;
}

.homepage__subtitle {
	margin: 0 0 var(--offset) 0;
	line-height: 1.5;
}

.homepage__cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--offset);
}

.homepage__cards--mb {
	margin-bottom: calc(var(--offset) * 1.5);
}

.homepage__showall {
	display: block;
	margin: 0 auto;
	padding: 0px;

	font-weight: bold;
	font-size: 1.2rem;
	color: rgb(var(--rgb-san-juan));
	border: 2px solid rgb(var(--rgb-san-juan)) !important;
	background-color: transparent;
}

.homepage__showall a {
	display: block;
	padding: 12px;
	text-decoration: none;
	color: rgb(var(--rgb-san-juan));
}

.homepage__showall:hover {
	background-color: rgb(var(--rgb-san-juan));
	color: rgb(var(--rgb-white));
}

.homepage__showall:hover a {
	color: rgb(var(--rgb-white));
}

@media screen and (width <= 1200px){
	.homepage__title {
		font-size: 1.8rem;
	}	
}

@media screen and (width <= 1000px){
	.homepage__cards{
		grid-template-columns: 1fr;
	}
}

@media screen and (width <= 800px){
	.homepage__title {
		font-size: 1.6rem;
	}	

	.homepage__cards--mb {
		margin-bottom: var(--offset);
	}
}