.homepage__popular_products {
	background-color: rgb(var(--rgb-pattens-blue));
}

.homepage__popular_products > .wrapper {
	padding: calc(var(--offset) * 1.5) var(--offset);
}

@media screen and (width <= 1200px){
	.homepage__popular_products > .wrapper {
		padding: var(--offset);
	}	
}