.prodarchive {
	width: 100%;

	display: grid;
	grid-template-rows: 1fr max-content;
	grid-template-columns: calc(var(--site-width) / 4.5) 1fr;
	grid-template-areas: 
		"arAside arMain"
		"arPagi arPagi";
	gap: var(--offset);
}

.prodarchive--shop{
	grid-template-columns: 1fr;
	grid-template-areas: 
		"arMain"
		"arPagi";
}

.prodarchive__aside {
	grid-area: arAside;
}

/* .prodarchive__asidenav {} */

.prodarchive__main {
	grid-area: arMain;
}

.prodarchive__list{
	height: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--offset);
}

.prodarchive__list--col3{
	grid-template-columns: repeat(3, 1fr);
}

.prodarchive__pagination {
	max-width: fit-content;
	margin: auto auto 0 auto;
	grid-area: arPagi;
}