.prodarchive {
	width: 100%;

	display: grid;
	grid-template-rows: 1fr max-content;
	grid-template-columns: calc(var(--site-width) / 3) 1fr;
	grid-template-areas: 
		"arAside arMain"
		"arPagi arPagi";
	gap: var(--offset);
}

.prodarchive--shop{
	grid-template-columns: 1fr;
	grid-template-areas: 
		"arMain"
		"arPagi";
}

.prodarchive--nosidebar{
	grid-template-columns: 1fr;
	grid-template-areas: 
		"arMain"
		"arPagi";
}

.prodarchive__aside {
	grid-area: arAside;
}

/* .prodarchive__asidenav {} */

.prodarchive__main {
	grid-area: arMain;
}

.prodarchive__list{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--offset);
}

.prodarchive__list--single{
	grid-template-columns: 1fr;
	gap: var(--offset);
}

.prodarchive__list--col3{
	grid-template-columns: repeat(3, 1fr);
}

.prodarchive__pagination {
	max-width: fit-content;
	margin: auto auto 0 auto;
	grid-area: arPagi;
}

@media screen and (width <= 1100px){
	.prodarchive {
		grid-template-columns: calc(var(--site-width) / 4) 1fr;
	}

	.prodarchive--nosidebar, .prodarchive--shop {
		grid-template-columns: 1fr;
	}
}

@media screen and (width <= 1000px){
	.prodarchive__list {
		grid-template-columns: 1fr;
	}
}

@media screen and (width <= 980px){
	.prodarchive {
		grid-template-columns: 1fr;
		grid-template-areas: 
			"arAside"
			"arMain"
			"arPagi";
	}
}