.prodcategories {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--offset);
	padding: calc(var(--offset)*2) var(--offset) !important;
}

.prodcatcard {
	border-radius: calc(var(--offset-half) / 2);
	box-shadow: var(--card-shadow);
	background-color: rgb(var(--rgb-mandys-pink));
	transition: var(--main-transition);
}

.prodcatcard:hover {
	background-color: var(--c-mandys-pink-highlighted);
}

.prodcatcard__link {
	color: var(--c-white);
	/* text-shadow: 0px 0px 1px rgba(var(--rgb-san-juan), var(--alpha-50)); */
	font-weight: bolder;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.2rem;

	display: block;
	text-align: center;
	padding: calc(var(--offset) * 1.5) var(--offset);
}

.prodcatcard:first-of-type {
	grid-column-start: 1;
	grid-column-end: 3;
}

.prodcatcard:nth-of-type(4){
	grid-column-start: 2;
	grid-column-end: 4;
}

@media screen and (width <= 1280px){
	.prodcategories {
		padding: var(--offset) !important;

		grid-template-columns: repeat(2, 1fr);
	}

	.prodcatcard:first-of-type {
		grid-column: auto;
	}

	.prodcatcard:nth-of-type(4){
		grid-column: auto;
	}
}

@media screen and (width <= 1000px){
	.prodcategories {
		grid-template-columns: 1fr;
		/* grid-template-columns: repeat(4, 400px); */
		/* overflow-x: scroll; */
		/* max-width: 100%; */
	}
}

@media screen and (width <= 580px){
	.prodcategories {
		padding: var(--offset-half) !important;
		gap: var(--offset-half);
	}

	.prodcatcard__link {
		padding: var(--offset);
		font-size: 1.1rem;
	}
}