.singlepage {

}

.singlepage__article {

}

.singlepage__header {
	position: relative;

	background-color: rgb(var(--rgb-pattens-blue));
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;

	min-height: calc(var(--site-width) / 3);
	padding: var(--offset);
	margin-bottom: var(--offset);

	border-radius: calc(var(--offset-half) / 2);
}

.singlepage__headerwrap	{
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	min-width: calc(var(--site-width) / 2);
	max-width: calc(var(--site-width) / 2);
	padding: var(--offset);

	box-shadow: var(--card-shadow);
	border-radius: calc(var(--offset-half) / 2);

	background-color: rgba(var(--rgb-white), var(--alpha-75));
}

.singlepage__title {
	color: var(--c-san-juan-highlighted);
	margin: 0 0 var(--offset) 0;
}

.singlepage__description {
	color: var(--c-san-juan-highlighted);
	margin: 0;
}

.singlepage__body {
	max-width: 1024px;

	margin: 0 auto var(--offset) auto;
}

.singlepage .edit-link {
	text-align: center;

}

.singlepage .edit-link a {
	text-decoration: none;
	transition: var(--main-transition);

	font-weight: bold;
	color: var(--c-slate-grey);
}

.singlepage .edit-link a:hover {
	text-decoration: underline;
}

@media screen and (width <= 1000px){
	.singlepage__header {
		min-height: calc(var(--site-width) / 4);
	}
}

@media screen and (width <= 900px){
	.singlepage__header {
		min-height: unset;
	}

	.singlepage__headerwrap	{
		position: static;
		transform: none;

		min-width: unset;
		max-width: 100%;
	}

	.singlepage__title {
		font-size: 1.8rem;
	}
}

@media screen and (width <= 580px){
	.singlepage__header {
		padding: calc(var(--offset-half) * 1.5);
	}

	.singlepage__headerwrap	{
		padding: calc(var(--offset-half) * 1.5);
	}

	.singlepage__title {
		font-size: 1.6rem;
	}
}