.site-body {
	background-color: rgb(var(--rgb-white));
	color: rgb(var(--rgb-black));

	/* font-family: system-ui; */
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	min-height: 100vh;

	display: grid;
	grid-template-rows: max-content 1fr auto;
}

.site-body--archive {
	grid-template-rows: max-content max-content 1fr auto;
}

.site-body--cart {
	grid-template-rows: max-content max-content 1fr auto;
}

.site-header {
	box-sizing: border-box;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 3;
}

.site-title {
	box-sizing: border-box;
	background-color: rgb(var(--rgb-alice-blue));
}

.site-main {
	background-color: rgb(var(--rgb-white));
	box-sizing: border-box;
}

.site-footer {
	box-sizing: border-box;
}

.site-prodcategories {
	background-color: rgba(var(--rgb-mandys-pink), var(--alpha-50));
}