.site-body {
	background-color: rgb(var(--rgb-white));
	color: rgb(var(--rgb-black));

	/* font-family: system-ui; */
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	min-height: 100vh;

	display: grid;
	grid-template-rows: max-content 1fr auto;
}

.site-wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.site-header {
	box-sizing: border-box;

	position: sticky;
	top: 0;

	width: 100%;
	/* max-width: var(--site-width); */
	/* margin: 0 auto; */

	/* background-color: rgb(var(--c-bermuda-grey)); */
}

.site-main {
	/* background-color: rgb(var(--c-chablis)); */
	background-color: rgb(var(--rgb-chablis));
	box-sizing: border-box;
}

.site-footer {
	background-color: rgb(var(--rgb-mandys-pink));
	box-sizing: border-box;
}