:root{
	/* SIZES */
	--site-width: 1400px; /* Basic site container width */

	--offset: 32px;
	--offset-half: calc(var(--offset) / 2);

	/*
		Sizes may be 1400, 1200, 992, 768, 576 and < 576
	*/

	/* SIZES END */
}