.cartpage {}

.cartpage > .woocommerce {
	display: grid;
	grid-template-areas: "cNotices cNotices" "cMain cAside";
	grid-template-rows: max-content 1fr;
	grid-template-columns: 1fr calc(var(--site-width)/3);
	gap: 0 var(--offset);

	min-height: calc(var(--site-width) / 4);
}

.cartpage > .woocommerce > .woocommerce-notices-wrapper{
	grid-area: cNotices;
}

.cartpage > .woocommerce > .woocommerce-notices-wrapper .woocommerce-message {
	background-color: rgb(var(--rgb-san-juan));
	color: var(--c-white);
	font-weight: bold;

	border-radius: calc(var(--offset-half) / 2);
	box-shadow: var(--card-shadow);

	padding: var(--offset-half);
	margin-bottom: var(--offset);
}

.cartpage > .woocommerce > .cartpage__main {
	grid-area: cMain;

	background-color: rgb(var(--rgb-alice-blue));
	border-radius: var(--card-border-radius);
	box-shadow: var(--card-shadow);

	/* align-self: flex-start; */


	padding: var(--offset);
}

.cartpage > .woocommerce > .cartpage__aside {
	grid-area: cAside;

	background-color: rgb(var(--rgb-alice-blue));
	border-radius: var(--card-border-radius);
	box-shadow: var(--card-shadow);

	align-self: flex-start;

	padding: var(--offset);

	/* position: sticky;
	top: calc(75px + var(--offset)); */
}

.cartform {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.cartform__table {
	margin-bottom: var(--offset);
}

.cartform__meta {
	margin-top: auto;

	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.cartform__meta input {
	padding: calc(var(--offset-half)/2);
	border: 2px solid rgb(var(--rgb-san-juan));
	border-radius: calc(var(--offset-half)/4);
	box-sizing: border-box;
}

.cartform__meta button {
	color: var(--c-white);
	background-color: rgb(var(--rgb-san-juan));
	border: 2px solid rgb(var(--rgb-san-juan));
	border-radius: calc(var(--offset-half)/4);

	min-height: 40px;
	cursor: pointer;
	box-sizing: border-box;
	font-weight: 700;
	padding: calc(var(--offset-half)/2);
	transition: var(--main-transition);
}

.cartform__meta button:disabled {
	background-color: rgb(var(--rgb-slate-grey));
	cursor: unset;
}

.carttable {
}

.carttable__header {
	margin: 0 0 var(--offset) 0;
	padding: 0;
}

.carttable__body {
}

.carttableitem {
	display: grid;
	grid-template-columns: max-content 1fr max-content;
	grid-template-rows: repeat(3, max-content);
	grid-template-areas: 
		"crImg crName crName"
		"crImg crPnQ crPnQ"
		"crImg crSubtotal crDel";

	border-radius: calc(var(--offset-half) / 2);
	background-color: var(--c-white);
	box-shadow: var(--card-shadow);
	padding: var(--offset-half);
	gap: 0 var(--offset-half);
}

.carttableitem:not(.carttableitem:last-of-type) {
	margin-bottom: var(--offset-half);
}

.carttableitem__image {
	grid-area: crImg;
	align-self: center;
}

.carttableitem__image img {
	display: block;
	max-width: calc(var(--offset) * 4);
	width: 100%;
	height: auto;
	border-radius: calc(var(--offset-half) / 2);
}

.carttableitem__name {
	grid-area: crName;
	align-self: center;
}

.carttableitem__name a {
	color: rgb(var(--rgb-san-juan));
	font-weight: bold;
	text-decoration: none;
}

.carttableitem__price_quantity {
	grid-area: crPnQ;

	display: flex;
	align-items: center;

	color: rgb(var(--rgb-san-juan));
	font-weight: 500;
	font-size: 1.1rem;
}

.carttableitem__price {
	display: flex;
}

.carttableitem__price .sale_price {
	margin-left: calc(var(--offset-half) / 2);
}

.carttableitem__subtotal .regular_price,
.carttableitem__price .regular_price,
.carttableitem__price .sale_price {
	font-weight: bold;
}

.carttableitem__quantity {
	margin-left: var(--offset);
}

.carttableitem__quantity .quantity input {
	border: 2px solid rgb(var(--rgb-san-juan));
	border-radius: calc(var(--offset-half)/4);

	background-color: rgb(var(--rgb-alice-blue));
	color: var(--c-san-juan);
	font-weight: 700;

	max-width: calc(var(--offset)*2);
	margin: 0;
	padding-left: calc(var(--offset-half) / 2);
	box-sizing: border-box;
}

.carttableitem__subtotal {
	grid-area: crSubtotal;
	display: flex;
	align-items: center;

	color: rgb(var(--rgb-san-juan));
	font-weight: 500;
	font-size: 1.1rem;
}

.carttableitem__remove {
	grid-area: crDel;
	background-color: coral;
	align-self: center;
	justify-self: end;
}

.carttableitem__remove a {
	color: var(--c-mandys-pink);
	background-color: var(--c-white);
	transition: var(--main-transition);
	font-size: 1.2rem;
}

.carttableitem__remove a:hover {
	color: var(--c-mandys-pink-highlighted);
}