.cartpage {}

.cartpage > .woocommerce {
	display: grid;
	grid-template-areas: "cNotices cNotices" "cMain cAside";
	grid-template-rows: max-content 1fr;
	grid-template-columns: 1fr calc(var(--site-width)/3);
	gap: 0 var(--offset);

	min-height: calc(var(--site-width) / 4);
}

.cartpage > .woocommerce > .woocommerce-notices-wrapper{
	grid-area: cNotices;
}

.cartpage > .woocommerce > .woocommerce-notices-wrapper .woocommerce-message {
	background-color: rgb(var(--rgb-san-juan));
	color: var(--c-white);
	font-weight: bold;

	border-radius: calc(var(--offset-half) / 2);
	box-shadow: var(--card-shadow);

	padding: var(--offset-half);
	margin-bottom: var(--offset);
}

.cartpage > .woocommerce > .cartpage__main {
	grid-area: cMain;

	background-color: rgb(var(--rgb-alice-blue));
	border-radius: var(--card-border-radius);
	box-shadow: var(--card-shadow);

	/* align-self: flex-start; */


	padding: var(--offset);
}

.cartpage > .woocommerce > .cartpage__aside {
	grid-area: cAside;

	background-color: rgb(var(--rgb-alice-blue));
	border-radius: var(--card-border-radius);
	box-shadow: var(--card-shadow);

	align-self: flex-start;

	padding: var(--offset);

	/* position: sticky;
	top: calc(75px + var(--offset)); */
}

.cartpage > .woocommerce > .cartpage__empty {
	grid-row: 1/-1;
	grid-column: 1/-1;
}

.cartpage > .woocommerce > .cartpage__empty > .cart-empty.woocommerce-info {
	font-weight: bold;
	font-size: 1.2rem;
	color: var(--c-slate-grey);
	padding: var(--offset-half) 0;
	margin-bottom: var(--offset);
	display: block;
}

.cartpage > .woocommerce > .cartpage__empty > .return-to-shop {
	margin: 0;
}

.cartpage > .woocommerce > .cartpage__empty > .return-to-shop a {
	display: block;
	max-width: max-content;

	background-color: var(--c-san-juan);
	padding: var(--offset-half);
	color: var(--c-white);
	font-weight: bold;
	text-decoration: none;

	border-radius: calc(var(--offset-half) / 2);
	transition: var(--main-transition);
}

.cartpage > .woocommerce > .cartpage__empty > .return-to-shop a:hover {
	background-color: var(--c-san-juan-highlighted);
}

@media screen and (width <= 1200px){
	.cartpage > .woocommerce {
		grid-template-columns: 1fr calc(var(--site-width) / 3.5);
		column-gap: var(--offset-half);
	}
}

@media screen and (width <= 1100px){
	.cartpage > .woocommerce > .cartpage__main,
	.cartpage > .woocommerce > .cartpage__aside {
		padding: calc(var(--offset-half) * 1.5);
	}
}

@media screen and (width <= 1000px){
	.cartpage > .woocommerce {
		grid-template-areas: "cNotices" "cMain" "cAside";
		grid-template-rows: auto;
		grid-template-columns: 1fr;

		row-gap: var(--offset);
		min-height: auto;
	}
}

@media screen and (width <= 500px){
	.cartpage > .woocommerce > .cartpage__main,
	.cartpage > .woocommerce > .cartpage__aside {
		padding: calc(var(--offset-half) * 1.5) var(--offset-half);
	}
}